* {
  color: #692208;
}

.clearFix {
  clear: both;
}

body {
  color: #5f1e07;
  font-size: 25px;
  background-image: url(https://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=17091338);
  background-repeat: no-repeat;
  background-size: cover;
  }

h1 {
  font-size: 50px;
  text-align: center;
}

.col-2 {
  float: left;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
}

/*.col-3 {
  float: left;
  box-sizing: border-box;
  width: 25%;
  margin: auto;
}*/

.knowMe {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.proTitle {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.faveThingsTitle {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.factTitle {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

/*.funFacts, .professional, .books {
  border: 5px groove red;
}*/

ol.books {
  padding-right: 10px;
}

.intro {
  font-size: 28px;
  color: #5a1f09;
}

.question {
  font-size: 22px;
  color: #96160c;
  font-weight: bold;
}

.answer {
  font-size: 20px;
  color: #d24210;
}
