* {
  color: #692208;
}

.clearFix {
  clear: both;
}

.test {
  width: 100;
  overflow: auto;
}

body {
  color: #5f1e07;
  font-size: 25px;
  background-image: url(http://www.horadent.com/i/2017/05/watercolor-wallpapers-free.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  }

.textBackground {
  background-color: rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 50px;
  text-align: center;
}

.col-2 {
  float: left;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  overflow: auto;
}

.knowMeTitle {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.professionalTitle {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.faveThingsTitle {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.factTitle {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

/*.funFacts, .professional, .books {
  border: 5px groove red;
}*/

ol.books {
  padding-right: 10px;
}

.intro {
  font-size: 28px;
  color: #5a1f09;
}

.question {
  font-size: 22px;
  color: #96160c;
  font-weight: bold;
}

.answer {
  font-size: 20px;
  color: #d24210;
}
