* {
  color: #351075;
}

.clearFix {
  clear: both;
}

.indent {
  padding: 60px;
}

body {
  color: #5f1e07;
  font-size: 25px;
  background-image: url(http://www.horadent.com/i/2017/05/watercolor-wallpapers-free.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  }

.backgroundOverlay {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  overflow: auto;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin: auto;
  border-bottom: 5px groove #47d2b2;
}

span {
  font-size: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

.snowflake {
  width: 2%;
}

.hula {
  width: 33%;
  min-width: 150px;
  margin-left: 33%;
  padding: 25px 5px;
}

.col-2 {
  float: left;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  overflow: auto;
}

.professionalTitle, .faveThingsTitle {
  padding-top: 20px;
}

.professionalTitle {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: auto;
  margin-bottom: 18px;
}

.faveThingsTitle {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: auto;
  margin-bottom: 18px;
}

.factTitle {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: auto;
  margin-bottom: 18px;
}

/*.funFacts, .professional, .books {
  border: 5px groove red;
}*/

ol, ul {
  margin: auto;
  margin-bottom: 20px;
}

ol.books {
  padding-left: 60px;
}

ul.funFacts {
  padding-left: 30px;
  margin: auto;
}

.intro {
  font-size: 28px;
  color: #5a1f09;
}

.question {
  font-size: 22px;
  color: #96160c;
  font-weight: bold;
}

.answer {
  font-size: 20px;
  color: #d24210;
}

footer {
  margin-top: 50px;
}
