/**{
background-color: (250,250,250,.5);
}*/

body {
  background-image: url(http://wallpapercave.com/wp/wV5fD3V.jpg);
  }

h1 {
  font-size: 50px;
  color: #692208;
  text-align: center;
}

.intro {
  font-size: 28px;
  color: #5a1f09;
}

.question {
  font-size: 22px;
  color: #96160c;
  font-weight: bold;
}

.answer {
  font-size: 20px;
  color: #d24210;
}
